/build
.idea
*.log
*.bak
*.orig
build
gmu.log.lck
.DS_Store
ca-apim-otk-and-ifttt/docker-compose-dev.yml
ca-apim-otk-and-ifttt/data/mysql-otk-ifttt/data*
ca-apim-otk-and-ifttt/scripts/lib/*.jar
ca-apim-otk-and-ifttt/apitest/*workspace.xml
ca-apim-otk-and-ifttt/scripts/raw/*
ca-apim-otk-and-ifttt/apitest/properties/*.properties
!ca-apim-otk-and-ifttt/apitest/properties/ifttt-otk-tutorial.template.properties
license*.xml
azure_config*.bundle